
@{
    ViewBag.Title = "Naujienos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container-fluid">
    <img class="img-responsive img-rounded" src="https://picsum.photos/1200/400" alt="Random image" />
    <h4>Lorem</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at vulputate felis. Nulla facilisi. Donec ut magna id enim cursus varius. Nulla velit est, gravida quis odio non, sollicitudin congue quam. Phasellus nec eleifend tortor. Suspendisse commodo leo non mattis hendrerit. Praesent feugiat tortor diam, vitae pellentesque sem rhoncus et. Sed at vulputate elit.</p>
    <p>Nulla vitae dui eget est rutrum sodales nec nec libero. Ut et leo egestas, malesuada dui id, aliquet diam. Praesent eleifend facilisis maximus. Suspendisse nibh arcu, pellentesque dignissim lacus bibendum, dignissim efficitur sem. Etiam eu tellus et risus pulvinar efficitur a sit amet tortor. Mauris congue pulvinar magna, sit amet congue leo eleifend at. Pellentesque cursus commodo bibendum. Nulla consectetur ligula eu arcu volutpat tristique. Pellentesque auctor nisi quis arcu pharetra blandit. In ultricies id est eget dapibus. Nulla sed vehicula nunc. Duis mattis ullamcorper dignissim. Sed aliquet facilisis eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse efficitur, nunc at interdum placerat, mi risus accumsan ex, a tristique sem tortor et lectus. Fusce quis leo eget leo aliquet ultrices ac ac neque.</p>
    <p>Maecenas eu tempor velit. Nam tincidunt hendrerit viverra. Donec eget massa dignissim, commodo massa id, gravida lacus. Donec euismod tellus ac sagittis dignissim. Pellentesque ac purus at neque posuere rhoncus. Vestibulum neque risus, interdum sit amet sapien in, sodales pellentesque quam. Donec nibh magna, pretium ac sem ut, feugiat ullamcorper elit. Nullam ac diam scelerisque, aliquet nunc nec, aliquam est. Donec interdum erat risus, et finibus tellus sollicitudin ac. Aliquam sed diam non diam dictum bibendum et id leo. Integer sed diam at nunc imperdiet condimentum. Vivamus fermentum elit id diam accumsan, at ultricies est cursus. Aenean luctus ultricies dui, at auctor elit malesuada et.</p>
</div>
<div class="container-fluid">
    <img class="img-responsive img-rounded" src="https://picsum.photos/1201/400" alt="Random image" />
    <h4>Lorem</h4>
    <p>Morbi luctus massa quis ligula posuere elementum. Curabitur tellus magna, maximus vitae mauris vitae, hendrerit ultricies purus. Proin efficitur nisi non magna iaculis molestie. Sed eleifend erat id elit cursus, quis tempus enim aliquam. Donec tincidunt dapibus metus, a placerat enim maximus id. In in congue metus. Curabitur gravida turpis non nisl sagittis pharetra. Nulla quis dolor finibus, lacinia ligula non, gravida ligula. Cras bibendum porta ultricies. Nunc urna magna, rutrum sit amet eros eget, vulputate venenatis dui. Nullam eget odio in nisl interdum elementum sit amet non ligula. Ut tincidunt orci eget arcu varius, in mollis felis dictum. Pellentesque sed tincidunt lacus. Ut gravida mi id leo eleifend, ut sodales massa elementum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at vulputate felis. Nulla facilisi. Donec ut magna id enim cursus varius. Nulla velit est, gravida quis odio non, sollicitudin congue quam. Phasellus nec eleifend tortor. Suspendisse commodo leo non mattis hendrerit. Praesent feugiat tortor diam, vitae pellentesque sem rhoncus et. Sed at vulputate elit.</p>
    <p>Maecenas eu tempor velit. Nam tincidunt hendrerit viverra. Donec eget massa dignissim, commodo massa id, gravida lacus. Donec euismod tellus ac sagittis dignissim. Pellentesque ac purus at neque posuere rhoncus. Vestibulum neque risus, interdum sit amet sapien in, sodales pellentesque quam. Donec nibh magna, pretium ac sem ut, feugiat ullamcorper elit. Nullam ac diam scelerisque, aliquet nunc nec, aliquam est. Donec interdum erat risus, et finibus tellus sollicitudin ac. Aliquam sed diam non diam dictum bibendum et id leo. Integer sed diam at nunc imperdiet condimentum. Vivamus fermentum elit id diam accumsan, at ultricies est cursus. Aenean luctus ultricies dui, at auctor elit malesuada et.</p>
</div>
<div class="container-fluid">
    <img class="img-responsive img-rounded" src="https://picsum.photos/1202/400" alt="Random image" />
</div>